/*-------------ICI  LE  CODE  CSS--------------*/
.logo2 {
    background-image: url("../images/logo1.png");
    background-size: cover;
}

body{
    font-family: 'Piazzolla', serif,'Courier New', Courier, monospace;
}
p{
    color: green;
}

/*          color:#A0F371;          */

/**************HEADER****************/

/**************NAVBAR****************/

/***Fin HEADER***/

/**************FOOTER****************/

/**************ACCUEIL***************/

/**************MISSIONS**************/
/****Détails missions****/
/****liste missions******/

/**************BLOG******************/
/****Détails articles****/
/****liste articles******/

/**************FORMULAIRES***********/
/****Formulaire connexion******/
/****formulaire inscription****/

