.card{
    border: 2px outset #58b368;;
}

.card hr{
    background-color: #58b368;
}

.carousel-control-next-icon,.carousel-control-prev-icon{

    background-image: none!important;
}
.carousel-control-next-icon:after
{
    content: '>';
    font-size: 60px;
    color: #58b368;
    margin: auto;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 60px;
    color: #58b368;
    margin-right: 20px;
}

.hrGreen{
    border-top: 2px outset #58b368!important;
}

.temoignageAccueil{
    box-sizing: border-box;
}

.container{
    margin-top: 50px;
}

.cardListeMissionPro{
    box-sizing: border-box;
    justify-content: justify;
    min-height: 620px;
    width:100%;
    margin-top: 15px;
}

/****LISTES TYPES ACTIVITES ET PAYS****/
.h1-select{
    font-weight: bold;
    margin: 30px auto 30px;
}

.card-select{
    box-sizing: border-box;
    padding: 0;   
    margin: 15px auto 15px;
}

.card-select card-body{
    padding: 30px;
}

.card-select card-body img{
    min-height: 340px;
}

.text-card-select{
    margin: 20px auto 0;
}

.messageMission{
    min-height: 100px;
}