.card{
    border: 2px outset #58b368;;
}

.btn {
    font-size: 20px;
}

.card hr{
    background-color: #58b368;
}

.carousel .button {
    margin-top: 1rem;
    transition-duration: 0.4s;
    border: 0.1rem solid #58b368; /* Green */
}

.carousel .button:hover {
    background-color: #58b368; /* Green */
    color: white;
}

.carousel-control-next-icon,.carousel-control-prev-icon
{
    background-image: none!important;
}
.carousel-control-next-icon:after
{
    content: '>';
    font-size: 60px;
    color: #58b368;
    margin: auto;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 60px;
    color: #58b368;
    margin-right: 20px;
}

.hrGreen{
    border-top: 4px outset #58b368!important;
    height: 0px!important;
    opacity: 0.65;
}

.hrTitreListeMission{
    height: 0px!important;
    border-top: 10px outset #58b368!important;
    opacity: 0.65;
    width: 20%;
}

.temoignageAccueil{
    box-sizing: border-box;
}

.container{
    margin-top: 50px;
}

.cardListeMissionPro{
    box-sizing: border-box;
    justify-content: justify;
    min-height: 620px;
    width:100%;
    margin-top: 15px;
}

/****LISTES TYPES ACTIVITES ET PAYS****/
.h1-select{
    font-weight: bold;
    margin: 30px auto 30px;
}

.card-select{
    box-sizing: border-box;
    padding: 0;   
    margin: 15px auto 15px;
}

.card-select card-body{
    padding: 30px;
}

.card-select card-body img{
    min-height: 340px;
}

.text-card-select{
    margin: 20px auto 0;
}

.messageMission{
    min-height: 100px;
}

.formEtablissement{
    margin-top: 200px;
}

.formParticipationMission{
    margin: 100px auto 100px;
    border: 2px outset #58b368;
}

.formParticipationMission label{
    font-weight: bold;
}
.custom-control-label{
    font-weight: inherit!important;
}

.msgConnect {
    color: aliceblue!important;
    font-size: 16px;
}