.card{
    border: 2px outset #58b368;;
}

.card hr{
    background-color: #58b368;
}

/* footer {
    background-color: #f7f7f7;
} */


.carousel-control-next-icon:after
{
  content: '>';
  font-size: 80px;
  color: #58b368;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 80px;
  color: #58b368;
}

.hrGreen{
    border-top: 2px outset #58b368!important;
}

.temoignageAccueil{
    box-sizing: border-box;
}