/*-------------ICI  LE  CODE  CSS--------------*/
.logo1 {
    background-image: url("../images/logo1.png");
    background-size: cover;
    width: 240px;
    height: 240px;
    margin: auto;
}

body{
    font-family: 'Piazzolla', serif,'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-size: 20px;
}

.btnGreen{
    background-color: #A0F371;   /*CLASS A UTILISER POUR LES BOUTONS VERT *******/
}


/*          color:#A0F371;          */

/**************HEADER****************/

/**************NAVBAR****************/

/***Fin HEADER***/

/**************FOOTER****************/

/**************ACCUEIL***************/

/**************MISSIONS********************/
/****Détails missions****/
/****liste missions******/

/**************BLOG************************/
/****Détails articles****/
/****liste articles******/

/**************FORMULAIRES*****************/

/****Formulaire connexion******/
.formConnexion button,input{
    width: 70%;
    margin: auto;
}
.inputConnexion{
    width: 70%;
}
/****formulaire inscription****/

